<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet icon" href="../assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/index.css" />
  </head>
  <body>
    <audio controls src="../assets/hello.flac"></audio>
    <div class="container">
      <ul class="lrc-list">
        <li>Lorem ipsum dolor sit.</li>
        <li class="active">Esse tempore facere hic?</li>
        <li>Nulla aliquam repudiandae incidunt!</li>
        <li>Quo necessitatibus omnis dolores.</li>
        <li>Aperiam dolorem quasi neque!</li>
        <li>Accusamus amet numquam ab?</li>
        <li>Perferendis rem veritatis error?</li>
        <li>Assumenda dolor ab unde.</li>
        <li>Repudiandae, voluptate. Vitae, dolorum.</li>
        <li>Illo inventore explicabo ut?</li>
        <li>Voluptatem placeat illum harum.</li>
        <li>Iste consequuntur commodi rerum?</li>
        <li>Quae neque fugit in.</li>
        <li>Molestiae aut quasi voluptas.</li>
        <li>Vero voluptatem non quo?</li>
        <li>Modi possimus tempora illum!</li>
        <li>Nam esse autem eveniet.</li>
        <li>Odit temporibus quam quo.</li>
        <li>Possimus commodi maiores officiis?</li>
        <li>Obcaecati tempore autem minus.</li>
        <li>Error perferendis impedit ipsum.</li>
        <li>Sint quis ut perspiciatis.</li>
        <li>Suscipit harum similique doloremque?</li>
        <li>Voluptate corrupti nostrum ex.</li>
        <li>Impedit quae veniam dolorum?</li>
        <li>Eveniet iure voluptas assumenda.</li>
        <li>Sunt aperiam sed saepe?</li>
        <li>Necessitatibus vitae inventore ut.</li>
        <li>Commodi totam odit expedita.</li>
        <li>Aut aspernatur omnis labore!</li>
      </ul>
    </div>
  </body>
  <script></script>
</html>
